div{
    background-color: pink ;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: align;
    font-size: large;
    border: 2px solid black;
    
}
h3{text-align: center;
    border: 5px solid green;

}
.footer{
    font size: 20px;
    text-align: center;
    border: 5px solid black;
    
  
}